<div class="container mt-5">




  <!--<p>{{today|date:"dd-mm-yyyy"}}</p>-->
  <p>{{dateFormat()}}</p>
  <p>{{300|currency:"₺"}}</p>
  <input class="form-control" placeholder="Search" [(ngModel)]="searchKey">
    <ul *ngIf="todoList.length > 0">
      <li *ngFor="let item of todoList | filterTodolist: searchKey">
        {{ item.title }} 
      </li>
    </ul>
    <div>
    
      <div *ngIf="todoList.length <= 0" class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      
      </div>
    
    
  </div>
   
  </div>
 